body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://lorenzomauri.github.io/Schermata 2021-01-21 alle 12.34.03.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.9;
    filter:alpha(opacity=90);
}

.vizContainer{
    width: 800px;
    height: 700px;





}