.title {color: cadetblue;
        width: 70pt;
        height: 30pt;
        font-size: 15pt ; 
        font-family: Arial, Helvetica, sans-serif;
      

}

#info {font-family: Arial, Helvetica, sans-serif;
      font-size: 15pt;}

#infoContainer{
  margin: auto;
  width: 50%;
  
  border-bottom:1px ridge grey;
  border-radius: 0%;
  padding: 10px;
}