body{opacity: 70%;
background-color: rgb(255, 255, 255);
height: 1000px;
width: 400px;}

#containerVenduto {
      position: relative;
      height: 170px;
      left: 130%;
      top: -90pt;
      text-align: center;
      font-family:  Helvetica;
      font-size: 10pt;
      white-space: nowrap;}



#infoVenduto{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: rgb(175, 77, 77);
}

#infoCity{font-family:  Calibri; 
  font-weight: 100;
  
  font-size: 15pt;
  text-align: center;
  white-space: nowrap;
  
font-style: italic;}


#infoContainer{
  position: relative;
  text-align: center;
  width: 140px;
  height: 150px;
  left: 5%;
  border-right: 1px ridge grey;
  border-radius: 0%;
  padding: 10px;
}

#cityName{text-align: center;
          vertical-align: middle;
          line-height: 100px;}
.canva{
  position: absolute;
  top : 230pt;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

#myDiv {
  display: none;
  text-align: center;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


.ml3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  margin: 0%;
 
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 1.5em;
  
  
}
