
.innerBox {
    background-color:rgb(125, 155, 177);
}


.data{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20pt;
    font-family: Helvetica;
    color: white;
    margin: 12%;
}

.titleContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10pt;
    font-family: Helvetica;
    color: white;
}